{% extends extend_view %}
{% block content %}

    <div class="row">
        <div class="col-lg-12">
            <div class="main-content">
                <div class="page-header">
                    <div class="row">
                        <div class="col-lg-6">
                            <h4>Training Assessment</h4>
                        </div>
                        <div class="col-lg-6">{#
                            <strong>Total Marks :</strong> 50 | <strong><a  href="{{ url('_admin_add_new_desc') }}" data-toggle="modal"  data-target="#myModal"  class=""><i class="fa fa-graduation-cap"></i>
                                    Cut-off Marks:</a></strong> 20 #}
                        </div>
                    </div>

                </div>
                <div class="row">
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-8">
                        <div class="row">

                            <div class="col-md-6"><a href="javascript:;" id="add-tf-control"  class="btn btn-primary btn-sm">Add T/F</a>  </div>

                            <div class="col-md-6"><a href="javascript:;" id="add-mcq-control"  class="btn btn-primary btn-sm">Add MCQ</a> </div>
                        </div>
                        <div class="spacer10"></div>
                        <div class="panel panel-default add-mcq-form-panel hide">
                            <form method="post" class="form-horizontal" id="add-mcq-form" action="{{ url('_admin_ajax_add_mcq') }}">

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Question</label>
                                                <div class="col-sm-9">
                                                    <div class="">
                                                        <input type="hidden" name="tid" value="{{ training.tid }}" />
                                                        <input type="hidden" id="mcq-qid-control" name="qid" value="" />
                                                        <input type="hidden" name="formType" value="mcq" />
                                                        <input type="text" class="form-control" dir='rtl' id="mcq-question-control" placeholder="Question" name="question" value="">
                                                    </div>
                                                </div>
                                            </div>   

                                            <div class="form-group">
                                                <label for="" class="col-sm-3 control-label">Options:</label>
                                                <div class="col-sm-8">

                                                    <div class="input-group">

                                                        <input type="text" class="form-control mcq-question-text" aria-label="" id="add-mcq-option-1" name="option[]" value="" data-value="1" >
                                                        <span class="input-group-addon"><a href="javascript:;" id="add-option-control"><i class="glyphicon glyphicon-plus"></i></a></span>
                                                    </div>

                                                </div>
                                                <div class='col-sm-1'> <label class="radio-inline" style="padding-bottom:15px;"> <input type="radio" name="answer" id="" value=""> </label></div>
                                            </div>
                                            <div id="options-add-div">
                                            </div>



                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" id="add-mcq-control-close">Close</button>
                                    <button type="submit" id="butt" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            <script type="text/javascript">
                                var count = 1;
                                var cnt = 1;
                                var optiondiv = '<div class="form-group"><label for="" class="col-sm-3 control-label"></label><div class="col-sm-8"><div class="input-group"> <span class="input-group-addon"><input type="radio" name="correctoption" id="" value="1"></span><input type="text" class="form-control mcq-question-text" aria-label="" name="option[]" value="" data-value="1" > <span class="input-group-addon"><i class="glyphicon glyphicon-minus"></i></span></div></div><div class="col-sm-1"> <label class="radio-inline"> <input type="radio" name="answer" id="" value=""> </label></div></div>';
                                $('body').on('click', '#add-option-control', function () {
                                    if (cnt < 10) {
                                        count++;
                                        cnt++;
                                        $('#options-add-div').append('<div class="form-group"><label for="" class="col-sm-3 control-label"></label><div class="col-sm-8"><div class="input-group"> <input type="text" class="form-control mcq-question-text" aria-label="" name="option[]" value="" data-value="' + count + '" > <span class="input-group-addon"><a href="javascript:;" class="remove-option-control"><i class="glyphicon glyphicon-minus"></i></a></span></div></div><div class="col-sm-1"> <label class="radio-inline" style="padding-bottom:15px;"> <input type="radio" name="answer" id="" value=""> </label></div></div>')
                                    }
                                });
                                $('body').on('click', '#add-mcq-control', function () {
                                    $('.add-mcq-form-panel').removeClass('hide');
                                    $('#mcq-qid-control').val('');
                                });
                                $('body').on('click', '#add-mcq-control-close', function () {
                                    $('.add-mcq-form-panel').addClass('hide');
                                    $('#mcq-qid-control').val('');
                                });
                                $('body').on('click', '.remove-option-control', function () {
                                    cnt--;
                                    $(this).parent().parent().parent().parent().remove();
                                });
                                $('body').on('change keyup', '.mcq-question-text', function () {
                                    var txt = $(this).val();
                                    $(this).parent().parent().parent().find('input:radio').val(txt);
                                });
                                $(document).ready(function () {
                                    $("#add-mcq-form").validate({
                                        rules: {
                                            question: {required: true
                                            },
                                            'option[]': {required: true},
                                            answer: {required: true}
                                        },
                                        messages: {
                                            question: {required: var_fieldnotblank},
                                            'option[]': {required: var_fieldnotblank},
                                            answer: {required: ''}
                                        },
                                        submitHandler: function (form) {
                                            // alert('reached submit');
                                            // return false;
                                            $.ajax({
                                                type: $(form).attr('method'),
                                                url: $(form).attr('action'),
                                                data: $(form).serialize(),
                                                dataType: 'json'
                                            })
                                                    .done(function (response) {

                                                        if (response.status == "success") {
                                                            var selco = $("#cuttoff-control option:selected").val();
                                                            $('#cuttoff-control').html('');
                                                            $('#add-mcq-form')[0].reset();
                                                            $('.add-mcq-form-panel').addClass('hide');
                                                            $('#options-add-div').html('');
                                                            if (response.type == 'add') {
                                                                $('#questions-list').prepend(response.response);
                                                            }
                                                            else
                                                            {
                                                                $('.question-rec-' + response.id).html(response.response);
                                                            }
                                                            $('#total-marks').html(response.marks);
                                                            $('#total-marks-hidden').val(response.marks);
                                                            var a = parseInt(response.marks);
                                                            var psst = '';
                                                            for (var counter = 0; counter <= a; counter++) {
                                                                if (counter == selco) {
                                                                    psst += '<option value="' + counter + '" selected="selected" >' + counter + '</option>';
                                                                }
                                                                else
                                                                {
                                                                    psst += '<option value="' + counter + '" >' + counter + '</option>';
                                                                }

                                                            }
                                                            $('#cuttoff-control').html(psst);
                                                            flashmessage(response.message, response.status);
                                                        }
                                                        else {
                                                            $('#add-mcq-form')[0].reset();
                                                            $('.add-mcq-form-panel').addClass('hide');
                                                            $('#options-add-div').html('');
                                                            flashmessage(response.message, response.status);
                                                        }

                                                    });
                                            return false;
                                        },
                                        errorPlacement: function (error, element) {

                                            //  error.appendTo(element.parent());
                                             error.insertAfter(element.parent());
                                        },
                                        invalidHandler: function (form, validation) {
                                            $('div.form-error').remove();
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <div class="spacer10"></div>
                        <div class="panel panel-default add-tf-form-panel hide">
                            <form method="post" class="form-horizontal" id="add-tf-form" action="{{ url('_admin_ajax_add_mcq') }}">

                                <div class="panel-body">
                                    <div class="row">
                                        <div class="col-sm-12 ">
                                            <div class="form-group">
                                                <input type="hidden" name="tid" value="{{ training.tid }}" />
                                                <input type="hidden" name="qid" id="tf-qid-control" value="" />
                                                <input type="hidden" name="formType" value="tf" />
                                                <div class="col-sm-9">

                                                    <input type="text" class="form-control" dir='rtl' id="tf-question-control" placeholder="Question" name="question" value="">
                                                </div>
                                                <label for="" class="col-sm-3 control-label">Question</label>
                                            </div>

                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                    <label class="radio-inline pull-right" style="padding-bottom:15px;"> 
                                                        <input type="radio" name="answer" id="tf-answer-true" value="True"> 
                                                    </label>
                                                </div>
                                                <label for="" class="col-sm-3 control-label">True</label>
                                            </div>
                                            <div class="form-group">
                                                <div class="col-sm-9">
                                                    <label class="radio-inline pull-right" style="padding-bottom:15px;">
                                                        <input type="radio" name="answer" id="tf-answer-false" value="False"> 
                                                    </label>
                                                </div>
                                                <label for="" class="col-sm-3 control-label">False</label>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="panel-footer">
                                    <button type="button" class="btn btn-default" id="add-tf-control-close" >Close</button>
                                    <button type="submit" class="btn btn-primary">Save changes</button>
                                </div>
                            </form>
                            <script type="text/javascript">

                                $('body').on('click', '#add-tf-control', function () {
                                    $('.add-tf-form-panel').removeClass('hide');
                                    $('#tf-qid-control').val('');
                                });
                                $('body').on('click', '#add-tf-control-close', function () {
                                    $('.add-tf-form-panel').addClass('hide');
                                    $('#tf-qid-control').val('');
                                });

                                $(document).ready(function () {
                                    $("#add-tf-form").validate({
                                        rules: {
                                            question: {required: true
                                            },
                                            answer: {required: true}

                                        },
                                        messages: {
                                            question: {required: var_fieldnotblank},
                                            answer: {required: var_pleasechooseoneoption}
                                        },
                                        submitHandler: function (form) {
                                            //  alert('reached submit');
                                            // return false;
                                            $.ajax({
                                                type: $(form).attr('method'),
                                                url: $(form).attr('action'),
                                                data: $(form).serialize(),
                                                dataType: 'json'
                                            })
                                                    .done(function (response) {

                                                        if (response.status == "success") {
                                                            var selco = $("#cuttoff-control option:selected").val();
                                                            $('#cuttoff-control').html('');
                                                            $('#add-tf-form')[0].reset();
                                                            $('.add-tf-form-panel').addClass('hide');
                                                            if (response.type == 'add') {
                                                                $('#questions-list').prepend(response.response);
                                                            }
                                                            else
                                                            {
                                                                $('.question-rec-' + response.id).html(response.response);
                                                            }

                                                            $('#total-marks').html(response.marks);
                                                            $('#total-marks-hidden').val(response.marks);
                                                            var a = parseInt(response.marks);
                                                            var psst = '';
                                                            for (var counter = 0; counter <= a; counter++) {
                                                                if (counter == selco) {
                                                                    psst += '<option value="' + counter + '" selected="selected" >' + counter + '</option>';
                                                                }
                                                                else
                                                                {
                                                                    psst += '<option value="' + counter + '" >' + counter + '</option>';
                                                                }

                                                            }
                                                            $('#cuttoff-control').html(psst);
                                                            flashmessage(response.message, response.status);
                                                        }
                                                        else {
                                                            $('#add-tf-form')[0].reset();
                                                            $('.add-tf-form-panel').addClass('hide');
                                                            flashmessage(response.message, response.status);
                                                        }

                                                    });
                                            return false;
                                        },
                                        errorPlacement: function (error, element) {

                                            //error.appendTo(element.parent());
                                           if (element.attr("type") == "radio") {
                                                error.appendTo(element.parent().parent());
                                            } else {
                                                error.appendTo(element.parent());
                                            }
                                        },
                                        invalidHandler: function (form, validation) {
                                            $('div.form-error').remove();
                                        }
                                    });
                                });
                            </script>
                        </div>
                        <hr/>
                        <form method="post" >
                            <div class="row">
                                <div class="col-md-3 form-inline">
                                    <strong> CutOff </strong> 
                                    <select class="form-control" data-tid='{{ training.tid }}' name="cuttOff" id="cuttoff-control">
                                        {% if assesment.totalmarks is defined %}
                                            {% for i in 0..(assesment.totalmarks) %}
                                                <option value="{{ i }}" {% if assesment.cutoff is defined and assesment.cutoff == i %}selected="selected"{% endif %} >{{ i }}</option>
                                            {% endfor %}
                                        {% endif %}
                                    </select>
                                </div>
                                {# <div class="col-md-6">
                                     <strong> Total Marks </strong> <span class="badge" id="total-marks">{% if assesment.totalmarks is defined %}{{ assesment.totalmarks }}{% else %}0{% endif %}</span>
                                     <input type="hidden" name="totalMarks" id="total-marks-hidden" value="{% if assesment.totalmarks is defined %}{{ assesment.totalmarks }}{% else %}0{% endif %}" />
                                 </div>#}
                            </div>

                            <p class="help-block">(Please choose correct options and click save.)</p>

                            <hr/>
                            <ul style="list-style: none; ">
                                <div class="row" id="questions-list">
                                    {% for question in questions %}
                                        <li class='question-rec-{{ question.qid }}'>

                                            
                                            <div class="col-md-9">
                                                <strong>{{ question.question|raw }}</strong>
                                                {% set opt = getQOptions(question.qid) %}
                                            {% if opt|length > 0 %}
                                                <ol type="a">
                                                    {% for option in opt %}
                                                        <li>{{ option.options }}</li>
                                                        {% endfor %}
                                                </ol>
                                                <div class="well well-sm">
                                                    {% for option in opt %}
                                                        <label class="radio-inline">  <input type="radio" value="{{ option.options }}" id="" name="qopt[{{ question.qid }}]" {{ getQOptionChecked(question.qid,option.opid) }} /> {{ option.options }} </label>
                                                        {% endfor %}
                                                </div>
                                            {% endif %}
                                            </div>
                                            <div class="col-md-3">
                                                <span class=''> <a href="javascript:;" data-qid="{{ question.qid }}" class="edit-question btn btn-xs btn-default"><i class="fa fa-pencil"></i></a> <a href='javascript:;'  data-qid="{{ question.qid }}"  class="delete-question btn btn-xs btn-danger"><i class="fa fa-trash"></i></a></span>
                                            </div>
                                            

                                        </li>
                                    {% endfor %}
                                </div>
                            </ul>
                            {#  <div class="form-group">
                                  <div class=" col-sm-8">
                                      <button type="submit" class="btn btn-primary" id="" name="submit" value="submit" >Save and Continue</button>
                                  </div>
                              </div> #}
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $("#myModal").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-content").load(link.attr("href"));
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('body').on('click', '.edit-question', function () {
                var qid = $(this).attr('data-qid');
                if (qid > 0) {
                    $.ajax({
                        type: 'post',
                        url: '{{ url('_admin_getquestiondet') }}',
                        data: "qid=" + qid,
                        dataType: 'json'
                    })
                            .done(function (response) {
                                //return false;
                                if (response.status == "success") {
                                    if (typeof response.response.question.qtype != 'undefined') {
                                        // alert(response.response.question.qtype);

                                        var qtype = response.response.question.qtype;
                                        if (qtype == 'tf')
                                        {
                                            //  console.log('in true false');
                                            // return false;
                                            $('.add-tf-form-panel').removeClass('hide');
                                            $('#tf-question-control').val(response.response.question.question);
                                            $('#tf-qid-control').val(response.response.question.qid);
                                            var answ = response.response.answer.options;
                                            if (answ == 'True')
                                            {
                                                $('#tf-answer-true').attr('checked', true)
                                            }
                                            else
                                            {
                                                $('#tf-answer-false').attr('checked', true)
                                            }
                                        }
                                        else if (qtype == 'mcq')
                                        {

                                            $('.add-mcq-form-panel').removeClass('hide');
                                            $('#mcq-question-control').val(response.response.question.question);
                                            $('#mcq-qid-control').val(response.response.question.qid);
                                            var obj = response.response.options;
                                            var first = 'yo';
                                            var cnt = 0;
                                            var answ = response.response.answer.options;
                                            $('#options-add-div').html('');
                                            $.each(obj, function (key, value) {
                                                // alert(key + ": " + value);
                                                if (first == 'yo')
                                                {
                                                    $('#add-mcq-option-1').val(value.options);
                                                    $('#add-mcq-option-1').parent().parent().parent().find('input:radio').val(value.options);
                                                    if (answ == value.options)
                                                    {
                                                        $('#add-mcq-option-1').parent().parent().parent().find('input:radio').attr('checked', true);
                                                    }
                                                    cnt++;
                                                    first = 'no';
                                                }
                                                else
                                                {
                                                    if (cnt < 10) {
                                                        count++;//
                                                        cnt++;
                                                        if (answ == value.options)
                                                        {
                                                            $('#options-add-div').append('<div class="form-group"><label for="" class="col-sm-3 control-label"></label><div class="col-sm-8"><div class="input-group"> <input type="text" class="form-control" aria-label="" name="option[]" value="' + value.options + '" data-value="' + count + '" > <span class="input-group-addon"><a href="javascript:;" class="remove-option-control"><i class="glyphicon glyphicon-minus"></i></a></span></div></div><div class="col-sm-1"> <label class="radio-inline"> <input type="radio" name="answer" id="" value="' + value.options + '" checked="checked" > </label></div></div>')
                                                        }
                                                        else
                                                        {
                                                            $('#options-add-div').append('<div class="form-group"><label for="" class="col-sm-3 control-label"></label><div class="col-sm-8"><div class="input-group"> <input type="text" class="form-control" aria-label="" name="option[]" value="' + value.options + '" data-value="' + count + '" > <span class="input-group-addon"><a href="javascript:;" class="remove-option-control"><i class="glyphicon glyphicon-minus"></i></a></span></div></div><div class="col-sm-1"> <label class="radio-inline"> <input type="radio" name="answer" id="" value="' + value.options + '"> </label></div></div>')
                                                        }
                                                    }
                                                }
                                            });
                                        }



                                        //$('#add-tf-form')[0].reset();
                                        // $('.add-tf-form-panel').addClass('hide');
                                        //$('#questions-list').prepend(response.response);
                                        //flashmessage(response.message, response.status);
                                    }
                                }
                                else {
                                    //$('#add-tf-form')[0].reset();
                                    //$('.add-tf-form-panel').addClass('hide');
                                    //flashmessage(response.message, response.status);
                                }

                            });
                }
            }); //
            $('body').on('change', '#cuttoff-control', function () {
                var cut = $(this).val();
                var trid = $(this).attr('data-tid');
                //  alert(cut);
                $.ajax({
                    url: "{{ url('_admin_settrainingassesdet') }}",
                    type: "POST",
                    data: "cut=" + cut + "&tid=" + trid,
                    success: function (response)
                    {
                        if (response.status == "success")
                        {
                            flashmessage(response.message, response.status);
                        }

                    }});
            });

            $('body').on('click', '.delete-question', function () {
                var qsid = $(this).attr('data-qid');
                //  alert(cut);
                if (confirm("Are you sure , you want to delete?"))
                {
                    $.ajax({
                        url: "{{ url('_admin_question_delete') }}",
                        type: "POST",
                        data: "qid=" + qsid,
                        success: function (response)
                        {
                            if (response.status == "success")
                            {

                                var selco = response.selco;
                                $('#cuttoff-control').html('');


                                $('#total-marks').html(response.marks);
                                $('#total-marks-hidden').val(response.marks);
                                var a = parseInt(response.marks);
                               // console.log(a);
                                var psst = '';
                                for (var counter = 0; counter <= a; counter++) {
                                    if (counter == selco) {
                                        psst += '<option value="' + counter + '" selected="selected" >' + counter + '</option>';
                                    }
                                    else
                                    {
                                        psst += '<option value="' + counter + '" >' + counter + '</option>';
                                    }

                                }
                                $('#cuttoff-control').html(psst);
                                $('.question-rec-'+qsid).remove();
                                flashmessage(response.message, response.status);
                                // $('tr[data=' + contentid + ']').remove();
                                //location.reload();
                            }

                        }});
                }
            });

        });
    </script>

{% endblock %} 