{% extends extend_view %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-content">
                <div class="page-header">
                    <div class="row">
                        <div class='col-sm-8'>
                            <h4>Students Enrollment : {{ training.trainingTitle }}</h4>
                        </div>
                        <div class="col-sm-4 text-right">
                            <a  href="{{ url('_admin_trainings') }}"  class="btn btn-success"><i class="fa fa-arrow-left"></i> Back to trainings</a>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default grey-bg squared">
                            <div class="panel-body">
                                <form class="form-inline" method="POST" action="">
                                    <div class="form-group">
                                        <label for="">Keyword &nbsp;</label>
                                        <input type="text" class="form-control" id="" name="keyword" placeholder="Keyword" value="{% if app.request.get('keyword')!='' %}{{ app.request.get('keyword') }}{% endif %}">
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="" name="" value="">Search</button>
                                    <button type="submit" class="btn btn-default" id="clear" name="reset" value="Reset" >Clear</button>
                                </form>
                            </div>
                        </div> 
                    </div>
                    <form class="form-inline" method="POST" action="">
                        <div class="col-lg-12">
                            {% if range is defined and totalpages is defined%}
                                <h5>Showing <strong>{{range}}</strong> of <strong>{{totalpages}}</strong> Students</h5>
                            {%endif%}
                            <table class="table table-bordered table-striped"> 
                                <thead> 
                                    <tr>
                                        <th width="5%"><input type="checkbox" id="checkAll"/></th>
                                        <th width="45%">Student</th>
                                        <th width="10%">Certificate</th>
                                    </tr> 
                                </thead> 
                                <tbody> 
                                    {% for student in enrolls %}
                                        <tr>
                                            <td>
                                                {% if student.certificate_status=='notIssued' %}
                                                    <input type="checkbox" name="students[]" value="{{ student.enid }}" />
                                                {% elseif student.certificate_status=='requested' %}
                                                    <input type="checkbox" name="students[]" value="{{ student.enid }}" />
                                                {% endif %}
                                            </td>
                                            <td><a href="{{ url('_admin_view_certificate',{'tid':training.tid,'uid':student.uid}) }}">{{ student.fname }}</a></td>
                                                {% if student.certificate_status == 'issued' %}
                                                <td class=""> <span href="javascript:;" title="" class="btn btn-xs btn-success"><i class="fa fa-check"></i> Yes</span></td> 
                                            {% elseif student.certificate_status == 'requested' %}
                                                <td class=""> <span href="javascript:;" title="" class="btn btn-xs btn-warning"><i class="fa fa-check"></i> Requested</span></td> 

                                            {% else %}
                                                <td class=""> <span href="javascript:;" title="" class="btn btn-xs btn-danger"><i class="fa fa-times"></i> No</span></td> 
                                            {% endif %}
                                        </tr> 
                                    {% endfor %}
                                </tbody> 
                            </table>
                        </div>
                        <div class="col-lg-12">
                            <div class="panel panel-default grey-bg squared">
                                <div class="panel-body">

                                    <div class="form-group">
                                        <label for="">Mark as &nbsp;</label>
                                        <select class='form-control' name="status" >
                                            <option value=''>Select</option>
                                            <option value='issued'>Issued</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary" id="" name="" value="">Submit</button>

                                </div>
                            </div> 
                        </div>
                    </form>
                    <div class="col-lg-12">
                        {% if paginate is defined and paginate|length>1 %}
                            <nav class="text-center">
                                <ul class="pagination">


                                    {% for pg in paginate %}
                                        <li {% if pg.text==page %}class='active'{% endif %} >{% if pg.url is defined %}<a href="{{ pg.url }}">{{ pg.text }}</a>{% else %}<a>{{ pg.text }}</a>{% endif %}</li>
                                            {% endfor %}
                                </ul>
                            </nav>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog modal-md" role="document">
            <div class="modal-content">
            </div>
        </div>
    </div>
    <script>
        $("#myModal").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-content").load(link.attr("href"));
        });
        $("#checkAll").change(function () {
            $("input:checkbox").prop('checked', $(this).prop("checked"));
        });
    </script>
{% endblock %}
