{% extends extend_view %}
{% block content %}
    <div class="row">
        <div class="col-lg-12">
            <div class="main-content">
                <div class="page-header"><h4>Reminder Email</h4></div>
                <form class="form-horizontal" method="post" name="settings" id="settings">
                    <div class="row">

                        <div class="panel-body">

                            <div class="panel panel-default">                               
                                <div class="panel-body">    
                                    <div class="form-group" style="margin-top: 20px;">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-8">
                                            <textarea class="form-control emails" dir='ltr' id="emailids" placeholder=" Enter email addresses here.." name ="emailids" value="" ></textarea> 
                                            <span class="help-block">Enter email addresses separated by commas. Ex: example@exp.com,example1@exp2.com</span>
                                            <input type="hidden"  value="" name="email_status" id="email_status" />
                                            {% if error.email is defined %}<div class="form-error-content">{{ error.email }}</div>{% endif %}

                                        </div>
                                        <label for="" class="col-sm-2 control-label">Email Ids <span class="red-text">*</span></label>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="col-md-1"></div>
                                        <div class="form-group col-md-3">
                                            <div class="input-group" style="margin-bottom: 5px;">                                    
                                                <input type="checkbox" name="student_type" value="yes" class="checkbox-inline studentHead" id="student_checkbox"/> <strong>&nbspStudents </strong>                                          
                                            </div>
                                            {% for department in departments %}
                                                <input type="checkbox" name="student_dept[]" id="" disabled class="studentDep"
                                                       value="{{ department.deptid }}" class="checkbox-inline" /> &nbsp{{ department.department }}  <br>
                                            {% endfor %} 
                                        </div>
                                        <div class="form-group col-md-3">
                                            <div class="input-group" style="margin-bottom: 5px;">                                    
                                                <input type="checkbox" name="trainer_type" value="yes" class="checkbox-inline trainerHead" id="trainer_checkbox"/> <strong>&nbspTrainers </strong>                          
                                            </div>
                                            {% for department in departments %}
                                                <input type="checkbox" name="trainer_dept[]" disabled class="trainerDep"
                                                       value="{{ department.deptid }}" class="checkbox-inline" /> &nbsp{{ department.department }}  <br>
                                            {% endfor %}
                                        </div>                                   
                                        <div class="col-md-3"></div>
                                        <div class="form-group col-md-12">
                                            <div class="col-md-3"></div>
                                            <div class="col-md-6 input-group" style="padding-left: 10px;">    
                                                <input type="hidden" value="" class="gid" name="gid" required/>
                                                {% if error.gid is defined %}<div class="form-error-content">{{ error.gid }}</div>{% endif %}
                                            </div> 
                                        </div>
                                    </div>

                                </div>
                            </div> 
                        </div>
                        <div class="panel-body">

                            <div class="panel panel-default">                               
                                <div class="panel-body">
                                    <div class="form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-8">
                                           <textarea class="form-control nospacefirst" dir='ltr' id="subject" placeholder="subject" name ="subject" value="" ></textarea>    
                                            {% if error.subject is defined %}<div class="form-error-content">{{ error.subject }}</div>{% endif %}

                                        </div>
                                        <label for="" class="col-sm-2 control-label nospacefirst">Subject <span class="red-text">*</span></label>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-1"></div>
                                        <div class="col-sm-8">
                                            <textarea class="form-control ckeditor" name="message" id="message"></textarea>    
                                        </div>
                                        <label for="" class="col-sm-2 control-label">Message</label>
                                    </div>

                                    
                                    <div class="form-group">
                                        <div class="col-sm-offset-1 col-sm-6">
                                            <button type="submit" class="btn btn-primary" name="submit" value="Save" >Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $().ready(function () {
        $(".nospacefirst").on("keypress", function(e) {
                if (e.which === 32 && !this.value.length)
                    e.preventDefault();
        });
        jQuery.validator.addMethod(
                "multiemail",
                function (value, element) {
                    if (this.optional(element)) // return true on optional element 
                        return true;
                    var emails = value.split(/[;,]+/); // split element by , and ;
                    valid = true;
                    for (var i in emails) {
                        value = emails[i];
                        valid = valid &&
                                jQuery.validator.methods.email.call(this, $.trim(value), element);
                    }
                    return valid;
                },
                jQuery.validator.messages.email
                );

        $('#student_checkbox, #trainer_checkbox').change(function () {

            var studnetbox = $("#student_checkbox").prop('checked');
            var trainerbox = $("#trainer_checkbox").prop('checked');
            var email_values = $("#emailids").val();
            var checkbox_status = false;

            if (studnetbox || trainerbox) {
                $("#email_status").val(1);
                checkbox_status = true;
            }
            if (email_values.length > 0) {
                $("#email_status").val(1);
            } else if (email_values.length == 0 && !checkbox_status) {
                $("#email_status").val("");
            }

        });

        $('#emailids').on('input', function (e) {
            var email_values = $("#emailids").val();
            var checkbox_status = false;

            if (email_values.length > 0) {
                $("#email_status").val(1);
            } else if (email_values.length == 0 && !checkbox_status) {
                $("#email_status").val("");
            }

        });

        $("#settings").validate({
            ignore: [],
            rules: {
                 gid: {required: true,
                    },
                subject: {
                    required: true,
                    minlength: 3

                },
                emailids: {
                    multiemail: true

                },
                email_status: {
                    required: true
                }
            },
            messages: {
                subject: {
                    required: "Please enter the subject",
                    minlength: "subject must contain atleast 3 characters",
                },
                emailids: {
                    required: "Please enter valid email id",
                    multiemail: "Not a valid Email id ",
                },
                email_status: {
                    required: "Please enter the Email"
                },
                gid: {required: "Please check atleast one depatment"
                    }
            }
        });
        $('body').on('change', '.studentHead', function () {
                var dis = $(this);
                var dv = $(this).val();
                //alert($(this).val());
                if (dv == 'yes')
                {
                    $('.studentDep').prop("disabled", !this.checked);
                } 
        });
        $('body').on('change', '.trainerHead', function () {
                var dis = $(this);
                var dv = $(this).val();
                //alert($(this).val());
                if (dv == 'yes')
                {
                    $('.trainerDep').prop("disabled", !this.checked);
                } 
        });
            $('body').on('change', '.studentHead', function () {
                var dis = $(this);
                var dv = $(this).val();
               // alert($(this).val());
               $('.gid').val('yes-'+dv);
            });
            
            $('body').on('change', '.trainerHead', function () {
                var dis = $(this);
                var dv = $(this).val();
                //alert($(this).val());
                $('.gid').val('yes-'+dv);
            });
            $('body').on('change', '.emails', function () {
                var dis = $(this);
                var dv = $(this).val();
                //alert($(this).val());
                $('.gid').val('yes-' + dv);
            });
    });
</script>
{% endblock %}
