<div class='modal-header'>
    <h4>{{ 'chooseuser.PleaseChooseYourAccounttype'|trans }}</h4>
</div>
<div class="modal-body">
    <div class="row">
        <div class="col-sm-12 ">            
            <p>
                <a href="{{ url('_signup_teacher') }}" class="btn btn-primary"><i class="fa fa-graduation-cap" aria-hidden="true"></i> {{ 'common.TeacherTrainer'|trans }}</a>
                <a href="{{ url('_signup_student') }}" class="btn btn-default"><i class="fa fa-user" aria-hidden="true"></i> {{ 'common.Student'|trans }}</a>
            </p>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'common.Close'|trans }}</button>
</div>





