{% extends extend_view %}
{% block content %}
    <!-- HERO UNIT -->
    <section class="hero-unit-slider no-margin">
        <div id="carousel-hero" class="slick-carousel">
            <div class="main-background1">
                <div class="background-image"><br>                  
                     <h2>{{ 'common.ForgotPassword'|trans }}</h2>
                    <br>
                    <form role="form" method="post" id="forgotpassword-form" >
                        <div class="row row-spacing">
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><p class="help-block text-center">{{ 'common.passwordResetMessage'|trans }}</p></div>
                            <div class="col-md-4"></div>
                        </div>                                                    
                        <div class="row row-spacing">
                            <div class="col-md-4">{{ 'common.email'|trans }}:</div>
                            <div class="col-md-4"><input type="email" class="form-control" dir='ltr' maxlength="150" name="email" value="{% if app.request.get('email')!='' %}{{ app.request.get('email') }}{% endif %}" id="" placeholder="{{ 'common.email'|trans }}">
                                {% if error.email is defined %}<div class="form-error-content">{{ error.email }}</div>{% endif %}
                            </div>
                            <div class="col-md-4"></div>
                        </div>                      
                        <div class="row row-spacing">
                            <div class="col-md-4"></div>
                            <div class="col-md-4">        <button type="submit" class="btn btn-primary">{{ 'common.submit'|trans }}</button>     </div>
                            <div class="col-md-4"></div>
                        </div>
                        <br><br>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!-- END HERO UNIT -->
    <br/>

{% endblock %}