{% extends extend_view %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h3 class="page-heading"><i class="fa fa-anchor"></i> Dashboard

                    {% for flash_message in app.session.flashBag.get('notice') %}

                        <div class="alert alert-theme-grn alert-dismissible" role="alert"> 
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button> {{ flash_message }}
                        </div>
                    {% endfor %}



                </h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <a href="{{url('_admin_campaigns_management')}}"/>
                    <div class="campaign_box campaign_box_hover">
                        <span class="campaign_inner"><i class="fa fa-cube font_blue"></i> <span>Total Campaigns</span></span>
                        <span class="campaign_count font_blue">{% set totalCampagins = totalCampagins() %}
                            {{totalCampagins}}</span>

                    </div>
                </a>       
            </div>
            <div class="col-md-4">
                <a href="{{url('_admin_campaigns_management')}}/LiveCampaign"/>
                    <div class="campaign_box campaign_box_hover">
                        <span class="campaign_inner "><i class="fa fa-heartbeat font_green"></i> <span>Live Campaigns</span></span>
                        <span class="campaign_count font_green">{% set totalLiveCampaigns = totalLiveCampaigns() %}
                            {{totalLiveCampaigns}}</span>
                    </div>
                </a> 
            </div>
            <div class="col-md-4">
                <a href="{{url('_admin_campaigns_management')}}/Completed"/>
                    <div class="campaign_box campaign_box_hover">
                        <span class="campaign_inner"><i class="fa fa-check-circle font_grey"></i> <span>Completed Campaigns</span></span>
                        <span class="campaign_count font_grey">{% set totalCompletedCampaigns = totalCompletedCampaigns() %}
                            {{totalCompletedCampaigns}}</span>
                    </div>
                </a> 
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 mart-20">
                <h4 class="table-heading ">Live Campaigns</h4>
                <table class="table table-striped table-border">
                    <thead>
                        <tr>
                            <th>campaign name</th>
                            <th>start date</th>
                            <th>end date</th>
                            
                        </tr>
                    </thead>
                    <tbody>
                        {% if runningCampaigns is defined  %} 
                            {% for runningCampaign in runningCampaigns %}
                                <tr>
                                    <td><a href="{{ url('_admin_live_campaign',{ campaignId:runningCampaign.campaign_id})}}" class="text_blue">{{ runningCampaign.campaign_name }}</a></td>
                                    <td>{{ runningCampaign.from_date|date('d-M-Y') }}</td>
                                    <td>{{ runningCampaign.to_date|date('d-M-Y') }} </td>

                                {% endfor%}
                            {% else %}
                            <tr class="bg-danger"> <td colspan="5" class="text-center "> No data found </td></tr>
                        {% endif%} 



                    </tbody>

                </table>

            </div><!-- /.col-sm-12 -->
        </div>
    </div> 




{% endblock%}
