<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <title>Dar Al Hekma Control Panel</title>
        <!-- Bootstrap -->
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" media="screen" rel="stylesheet" type="text/css" />
        <link href="{{ asset('assets/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/styles.css') }}" rel="stylesheet">
        <link href="{{ asset('assets/css/bootstrap-datepicker.css') }}" rel="stylesheet">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
         <link rel="stylesheet" type="text/css" media="screen"  href="http://tarruda.github.com/bootstrap-datetimepicker/assets/css/bootstrap-datetimepicker.min.css">

        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{{ asset('assets/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/js/jwplayer/jwplayer.js') }}"></script>
        <script src="{{ asset('assets/js/ckeditor_basic/ckeditor.js') }}"></script> 
        <script src="{{ asset('assets/js/bootstrap-datepicker.js') }}"></script>
        <script src="{{ asset('assets/js/jquery.validate.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.min.js"></script>
        <script src="{{ asset('assets/js/custom-admin.js') }}"></script>
        <script src="{{ asset('assets/js/messages.en.js') }}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.1/additional-methods.min.js"></script>
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <!-- Fixed navbar -->
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="{{ asset('assets/img/logo.svg') }}" alt="" width="220px"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        {# <li>
                             <a href="{{ path('english') }}"><img src="{{ asset('assets/img/eng.ico') }}" alt="English Language" height="auto" width="20" /></a>
                         </li>
                         <li>
                             <a href="{{ path('arabic') }}"><img src="{{ asset('assets/img/saudi-arabian-flag-small.gif') }}" alt="Arabic Language" height="auto" width="20" /></a>
                         </li>#}
                        <li><a href="{{ url('_home') }}" target='_blank'>View Site</a></li>
                        <li><a href="{{ url('_admin_settings') }}">Settings</a></li>
                        <li class="active"><a href="{{ path('adminlogout') }}">Logout</a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </nav>
        <script type="text/javascript">
            function flashmessage(mesg, status) {
                var $html = '<div class="flash-message ' + status + '">' + mesg + '<a href="#" class="close_flash_message" title="Close Message"><i class="icon-remove"></i></a></div>';
                $("body").prepend($html);
                setTimeout(function () {
                    $(".flash-message").fadeOut();
                }, 2000);
            }
            function showmessage(mesg, status) {
                var $html = '<div class="show-message ' + status + '">' + mesg + '<a href="#" class="close_show_message" title="Close Message"><i class="icon-remove"></i></a></div>';
                $("body").prepend($html);
            }

            function closeMessage() {
                $(".show-message").fadeOut();
            }
        </script>

        <div class="container ">
            <div class="row">
                <div class="col-lg-3">
                    <ul class="list-group left-column">
                        <li class="list-group-item" >
                            <h4 class="list-group-item-heading">Account</h4>
                        </li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_dashboard' %}active{% endif %}"><a href="{{ url('_admin_dashboard') }}">Dashboard</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_settings' %}active{% endif %}"><a href="{{ url('_admin_settings') }}">Settings</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_change_password' %}active{% endif %}"><a href="{{ url('_admin_change_password') }}">Change Password</a></li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">Content</h4>
                        </li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_departments' %}active{% endif %}"><a href="{{ url('_admin_departments') }}">Departments</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_trainings' or app.request.attributes.get('_route') == '_admin_add_new_training' or app.request.attributes.get('_route') == '_admin_create_assesment' or app.request.attributes.get('_route') == '_admin_edit_training' %}active{% endif %}"><a href="{{ url('_admin_trainings') }}">Manage Trainings <span class="badge">{{ getTrainingsCount() }}</span></a></li>
                            {#<li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_assesment' or app.request.attributes.get('_route') == '_admin_create_assesment' %}active{% endif %}"><a href="{{ url('_admin_assesment') }}">{{ 'Training Assesment'|trans }}</a></li>#}
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_pages' or app.request.attributes.get('_route') == '_admin_add_new_page' or app.request.attributes.get('_route') == '_admin_edit_page' %}active{% endif %}"><a href="{{ url('_admin_pages') }}">Pages</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_news' or app.request.attributes.get('_route') == '_admin_add_new_news'  or app.request.attributes.get('_route') == '_admin_edit_news'  %}active{% endif %}"><a href="{{ url('_admin_news') }}">News</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_workshop' or app.request.attributes.get('_route') == '_admin_add_new_workshop' or app.request.attributes.get('_route') == '_admin_edit_workshop' %}active{% endif %}"><a href="{{ url('_admin_workshop') }}">Workshops</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_faqs' or app.request.attributes.get('_route') == '_admin_add_new_faq' or app.request.attributes.get('_route') == '_admin_edit_faq' %}active{% endif %}"><a href="{{ url('_admin_faqs') }}">FAQ's</a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_certificates' %}active{% endif %}"><a href="{{ url('_certificates') }}">Issue Online Course Certificate</a></li>
                        <li class="list-group-item">
                            <h4 class="list-group-item-heading">Users</h4>
                        </li>
						
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_teachers' or app.request.attributes.get('_route') == '_admin_view_teacher' or app.request.attributes.get('_route') == '_admin_add_new_teachers' or app.request.attributes.get('_route') == '_admin_edit_teachers'  %}active{% endif %}"><a href="{{ url('_admin_teachers') }}">Manage Teachers/Trainers <span class="badge">{{ getTeachersCount() }}</span></a></li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_students' or app.request.attributes.get('_route') == '_admin_view_student' or app.request.attributes.get('_route') == '_admin_add_new_student' or app.request.attributes.get('_route') == '_admin_edit_student' %}active{% endif %}"><a href="{{ url('_admin_students') }}">Manage Students <span class="badge">{{ getStudentsCount() }}</span></a></li>
                       {# <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_certificates' or app.request.attributes.get('_route') == '_admin_view_certificate' %}active{% endif %}"><a href="{{ url('_admin_certificates') }}">Certificates Issued</a></li>
                        #}<li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_subsribers' %}active{% endif %}"><a href="{{ url('_admin_subsribers') }}">Newsletter Subscribers </a></li>
						<li class="list-group-item">
                            <h4 class="list-group-item-heading">Security</h4>
                        </li>
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_activity_log' %}active{% endif %}"><a href="{{ url('_admin_activity_log') }}">Activity Log</a></li>
                        
                         <li class="list-group-item" >
                            <h4 class="list-group-item-heading">Notifications</h4>
                        </li>
                       
                        <li class="list-group-item {% if app.request.attributes.get('_route') == '_admin_reminder' %}active{% endif %}"><a href="{{ url('_admin_reminder') }}">Send Reminders</a></li>
                       
                    </ul>
                </div>
                <div class="col-lg-9">
                    {% for flashMessage in app.session.flashbag.get('mesg')  %}
                        <div class="alert alert-info" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('error')  %}
                        <div class="alert alert-danger" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                    {% for flashMessage in app.session.flashbag.get('success')  %}
                        <div class="alert alert-success" role="alert">
                            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                            {{ flashMessage|raw }}
                        </div>
                    {% endfor %}
                    {% block content %}
                    {% endblock %}
                </div>

            </div>
        </div> <!-- /container -->
        <div class="footer">
            <div class="container">
                <div class="col-lg-12">
                    <p>&copy; {{ "now"|date("Y") }}, DHAR-AL-HEKMA. All Rights Reserved.</p>
                </div>
            </div>
        </div>

    </body>
</html>
